<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">
<!--        <context:component-scan base-package="java"/>-->
<!--    <bean name="profileService" class="org.example.service.ProfileService" autowire="byName">-->
<!--        &lt;!&ndash;                <property name="profileRepository" ref="profileRepository"/>&ndash;&gt;-->
<!--    </bean>-->

<!--    <bean name="profileRepository" class="org.example.repository.ProfileRepository" autowire="byName"/>-->

<!--    <bean name="profileController" class="org.example.controller.ProfileController" autowire="byName">-->
<!--        &lt;!&ndash;                <property name="transactionRepository" ref="transactionRepository"/>&ndash;&gt;-->
<!--        &lt;!&ndash;                <property name="transactionService" ref="transactionService"/>&ndash;&gt;-->
<!--        &lt;!&ndash;                <property name="cardService" ref="cardService"/>&ndash;&gt;-->
<!--    </bean>-->

<!--    <bean name="transactionRepository" class="org.example.repository.TransactionRepository"/>-->

<!--    <bean name="transactionService" class="org.example.service.TransactionService" autowire="byName">-->
<!--        &lt;!&ndash;                <property name="terminalRepository" ref="terminalRepository"/>&ndash;&gt;-->
<!--        &lt;!&ndash;                <property name="transactionRepository" ref="transactionRepository"/>&ndash;&gt;-->
<!--        &lt;!&ndash;                <property name="cardRepository" ref="cardRepository"/>&ndash;&gt;-->
<!--    </bean>-->

<!--    <bean name="terminalService" class="org.example.service.TerminalService" autowire="byName">-->
<!--        &lt;!&ndash;                <property name="terminalRepository" ref="terminalRepository"/>&ndash;&gt;-->
<!--    </bean>-->

<!--    <bean name="terminalRepository" class="org.example.repository.TerminalRepository"/>-->
<!--    <bean name="cardService" class="org.example.service.CardService" autowire="byName">-->
<!--        &lt;!&ndash;                <property name="cardRepository" ref="cardRepository"/>&ndash;&gt;-->
<!--        &lt;!&ndash;                <property name="transactionRepository" ref="transactionRepository"/>&ndash;&gt;-->
<!--    </bean>-->
<!--    <bean name="cardRepository" class="org.example.repository.CardRepository"/>-->
<!--    <bean name="dataBase" class="org.example.db.DataBase"/>-->


<!--    &lt;!&ndash;   <bean name="con" class="org.example.container.ComponentContainer">&ndash;&gt;-->
<!--    &lt;!&ndash;       &ndash;&gt;-->
<!--    &lt;!&ndash;   </bean>&ndash;&gt;-->

<!--    <bean name="mainController" class="org.example.controller.MainController" autowire="byName">-->
<!--        &lt;!&ndash;                <property name="profileService" ref="profileService"/>&ndash;&gt;-->
<!--        &lt;!&ndash;                <property name="profileRepository" ref="profileRepository"/>&ndash;&gt;-->
<!--        &lt;!&ndash;                <property name="profileController" ref="profileController"/>&ndash;&gt;-->
<!--        &lt;!&ndash;                <property name="adminController" ref="adminController"/>&ndash;&gt;-->
<!--    </bean>-->

<!--    <bean name="adminController" class="org.example.controller.AdminController" autowire="byName">-->
<!--        &lt;!&ndash;                <property name="terminalService" ref="terminalService"/>&ndash;&gt;-->
<!--        &lt;!&ndash;                <property name="transactionService" ref="transactionService"/>&ndash;&gt;-->
<!--        &lt;!&ndash;                <property name="transactionRepository" ref="transactionRepository"/>&ndash;&gt;-->
<!--        &lt;!&ndash;                <property name="cardRepository" ref="cardRepository"/>&ndash;&gt;-->
<!--        &lt;!&ndash;                <property name="cardService" ref="cardService"/>&ndash;&gt;-->
<!--        &lt;!&ndash;                <property name="terminalRepository" ref="terminalRepository"/>&ndash;&gt;-->
<!--    </bean>-->
</beans>
